<div class="container mx-auto flex flex-col xl:flex-row py-10 flex-wrap gap-y-6 xl:gap-y-4">
  <div class="xl:w-1/3 flex flex-col gap-1 xl:border-r border-r-amber-600">
    <p>Realtor</p>
    <p>348 Broker Drive</p>
    <p>Santa Barbara, CA 93102</p>
  </div>
  <div class="xl:w-1/3 flex flex-col gap-1 xl:border-r border-r-amber-600 xl:pl-4">
    <p><i class="las la-phone"></i> 800 555 0199</p>
    <p><i class="las la-envelope"></i> restisemail@example.com</p>
  </div>
  <div class="xl:w-1/3 flex flex-col gap-1 xl:pl-4">
    <a href="#"><i class="lab la-whatsapp"></i> Contacto</a>
    <a href="#">Políticas de privacidad</a>
    <a href="#">Términos de servicio</a>
  </div>
  <p class="w-full flex-shrink-0 text-center">Copyright {{"now"|date('Y')}}</p>
</div>