<div class="container mx-auto flex flex-col xl:flex-row py-10 flex-wrap gap-y-6 xl:gap-y-4">
  <div class="xl:w-1/4 xl:border-r border-white">
    <img
      class="w-56"
      src="{{ site.theme.link }}/static/img/real-people-blanco.png"
      alt="retis real people"
    />
  </div>
  <div class="xl:w-1/4 flex flex-col gap-1 xl:border-r border-white xl:pl-4">
    <p>Retis</p>
    <p>348 Broker Drive</p>
    <p>Santa Barbara, CA 93102</p>
  </div>
  <div class="xl:w-1/4 flex flex-col gap-1 xl:border-r border-r-white xl:pl-4">
    <p><i class="las la-phone"></i> 800 555 0199</p>
    <p><i class="las la-envelope"></i> restisemail@example.com</p>
  </div>
  <div class="xl:w-1/4 flex flex-col gap-1 xl:pl-4">
    <a href="#"><i class="lab la-whatsapp"></i> Contacto</a>
    <a href="#">Políticas de privacidad</a>
    <a href="#">Términos de servicio</a>
  </div>
  <p class="w-full flex-shrink-0 text-center">Copyright {{"now"|date('Y')}}</p>
</div>