{% if menu %}
	<ul class="flex gap-8 justify-end font-semibold tracking-wider">
    {% for item in items %}
      <li class="{{ item.classes | join(' ') }}">
        <a target="{{ item.target }}" href="{{ item.link }}" class="flex items-center gap-1">{{ item.title }}</a>
        {# {% include "menu.twig" with {'items': item.children} %} #}
      </li>
    {% endfor %}
	</ul>
{% endif %}
